APP_ENV=dev
APP_DEBUG=true
APP_KEY=change-me-to-a-long-random-string

DB_HOST=amtgard-denarius-db
DB_PORT=3306
DB_NAME=denarius
DB_USER=denarius
DB_PASS=secret

SESSION_REDIS_HOST=amtgard-denarius-sessions
SESSION_REDIS_PORT=6379
REDIS_HOST=amtgard-denarius-sessions
REDIS_PORT=6379
REDIS_DB=0
SESSION_REDIS_DB=1

IDP_BASE_URL=https://idp.amtgard.com
IDP_CLIENT_ID=
IDP_CLIENT_SECRET=
IDP_REDIRECT_URI=https://denarius.amtgard.com/oauth/callback
IDP_IAM_SERVICE=Denarius
IDP_IAM_SERVICE_FORMAT=Configuration,Kingdom

DENARIUS_BOOTSTRAP_ADMIN_IDP_USER_IDS=

ORK_API_USER_AGENT=
ORK_API_REFERER=
ORK_API_BASE_URL=https://ork.amtgard.com/orkservice/Json/index.php

TELLER_APPLICATION_ID=
TELLER_ENVIRONMENT=sandbox
TELLER_API_BASE=https://api.teller.io
TELLER_CERT_PATH=/var/www/denarius.amtgard.com/keys/teller.pem
TELLER_KEY_PATH=/var/www/denarius.amtgard.com/keys/teller.key
TELLER_WEBHOOK_SECRET=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_API_BASE=https://api.stripe.com
