.env
provider.env
.idea
.phpunit.cache
.phpunit.cache/
build/
logs/
vendor/
.DS_Store
cache/
keys/
dev-keys/
.local/
.env.prod
.phinx.env
.deploy-state/
.infection-tmp/
infection.log
config/cache/
*.rdb
