{
    "kingdoms": [
        {"id": 11, "name": "The Kingdom of the Golden Plains"},
        {"id": 12, "name": "The Kingdom of Dragonspine"},
        {"id": 14, "name": "The Celestial Kingdom"}
    ]
}
